@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
}
<h2 class="text-center">Users</h2>
<div style="padding-bottom:3em">
    <a asp-area="Admin" asp-controller="User" asp-action="Create" class="btn btn-default pull-left">Create User</a>
</div>
<div class="d-flex justify-content-between">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-4 d-flex justify-content-center">Username</th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center">Administrator</th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center">User</th>
                <th scope="col" class="col-lg-3 d-flex justify-content-center">Customer Card Number</th>
                <th scope="col" class="col-lg-3 d-flex justify-content-center">Register On</th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="row">
                    <th scope="row" class="col-lg-4 d-flex justify-content-center">@user.Username</th>
                    <td class="col-lg-1 d-flex justify-content-center">@Html.DisplayFor(model => user.IsAdmin)</td>
                    <td class="col-lg-1 d-flex justify-content-center">@Html.DisplayFor(model => user.IsUser)</td>
                    @if (user.CustomerCardNumber == null)
                    {
                        <td class="col-lg-3 d-flex justify-content-center">No Card</td>
                    }
                    else
                    {
                        <td class="col-lg-3 d-flex justify-content-center">@user.CustomerCardNumber</td>
                    }
                    <td class="col-lg-3 d-flex justify-content-center">@user.RegisteredOn</td>
                    <td class="col-lg-1 d-flex justify-content-center">
                        <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-Id="@user.Id" class="btn btn-default">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

